@model BirthdayParty.Models.guestModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Contents/style.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('../../bck.jpg');
        }

        .validation-summary-valid{
    display: none;
}

.field-validation-error{
    color: red;
}

.field-validation-valid{
    display: none;
}


    </style>



    <title>Register</title>
</head>
<body>
    <div id="Rcontent">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p class="">
               First Name:
                @Html.TextBoxFor(x => x.FirstName)
            </p>

            <p>
               Last Name: @Html.TextBoxFor(x => x.LastName)
            </p>

            <p>
                Phone No: @Html.TextBoxFor(x => x.Phone)
            </p>

            <p>
                Email: @Html.TextBoxFor(o => o.Email)
            </p>
            <p>

                Will you attend?
                @Html.DropDownListFor(x => x.AreYouComing, new[] { new SelectListItem() { Text = "I will Attend.", Value = bool.TrueString },
               new SelectListItem { Text = "No I will not attend.", Value = bool.FalseString } }, "Choose an option")
            </p>


                <input type="submit" id="btnsubmit" value="Submit" />
        }

    </div>
</body>
</html>
